.subtitle {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  letter-spacing: 0.12em;
  padding-left: 0.12em;
  text-transform: lowercase;
}

.typist {
  display: inline;
}
