.subtitle {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding-left: 0.1rem;
  text-transform: lowercase;
}

.typist {
  display: inline;
}
