/*
 * https://coolors.co/961632-3b0d11-706563-6a787a-9dc7c8
 */

html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #6A787A;
  text-decoration: none;
  transition: 0.4s ease-out;
}

a:hover,
a:focus {
  color: #961632;
  transform: translate3d(0, -0.1rem, 0);
}

header {
  position: fixed;
  z-index: 1;
  display: block;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 0.7rem;
  left: 0;
  right: 0;
  top: 0;
}

footer {
  position: fixed;
  display: block;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 0.7rem;
  left: 0;
  right: 0;
  bottom: 0;
}

span.line {
  display: inline-block;
}

h2, p {
  color: #706563;
}

h2 {
  font-weight: inherit;
}

h1 {
  color: #3B0D11;
}
