/*
 * https://coolors.co/961632-3b0d11-706563-6a787a-9dc7c8
 */

html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #6A787A;
  text-decoration: none;
  transition: 0.4s ease-out;
}

a:hover,
a:focus {
  color: #961632;
  transform: translate3d(0, -0.1rem, 0);
}

footer {
  display: block;
  scroll-snap-align: end;
  margin-top: 100px;
  padding: 50px 20px;
  background-color: white;
  text-align: center;
  font-size: 0.9rem;
}

p {
  color: #706563;
}

h1 {
  color: #3B0D11;
}
