.navBar {
  padding-inline-start: 0;
}

.navItem {
  color: #6a787a;
  margin-top: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  text-transform: lowercase;
}

.navContainer {
  display: block;
}

.navLink h2 {
  text-decoration: none;
  transition: 0.4s ease-out;
}

.navLink:hover h2,
.navLink:focus h2 {
  color: #961632;
}

.active h2 {
	color: #961632;
}
